# Python-related files
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env

# Virtual environment
venv/
env/
my_env/
.env/
.venv/
Pipfile
Pipfile.lock

# Django migrations
**/migrations/**

# React-related files
node_modules/
build/
dist/

# Ignore package managers lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor / OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

#media
backend/media/*
!backend/media/default.jpg
!backend/media/chat_media/
!backend/media/govt_docs/
!backend/media/posts/
!backend/media/user_images/

backend/media/chat_media/*
!backend/media/chat_media/.gitkeep

backend/media/govt_docs/*
!backend/media/govt_docs/.gitkeep

backend/media/posts/*
!backend/media/posts/.gitkeep

backend/media/user_images/*
!backend/media/user_images/.gitkeep
